body {
	margin: 0;
	padding: 1%;
	text-align: center;
	font-family: verdana, sans-serif;
	font-size: 18px;
	color: olive;

}

img {
	width: 100%;
	height: auto;
}

h5 {
	float: left;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
}

#my-elem {
	max-width: 850px;
	margin: auto;
}

.counter {
	float: right;
	font-size: 0.8em;
}
