body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: verdana, sans-serif;
	font-size: 18px;
	color: olive;
}

.cat-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.cat-list li {
	display: inline-block;
	padding: 1em;
}

.cats {
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.cat-img {
	width: 100%;

}

.cat-name {
	float: left;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
}

.click-count {
	float: right;
	font-size: 0.8em;
	padding-top: 10px;
}



@media screen and (max-width: 800px) {
	.cat-name,
	.click-count {
		padding: 10px;
	}
	.cat-list li {
		padding: 0.4em;
	}
}